<div class="row cust-row">
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header [ngClass]="'cust-card-header'">
        <mat-card-title>Registrate</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm.value)">
          <div class="row">
            <div class="col-md-12 pt-0-5r pb-1-5r">
              <mat-form-field appearance="outline" [ngClass]="'cust-mat-form-field'">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="E-mail" formControlName="email">
              </mat-form-field>
              <ng-container *ngIf="registerForm.get('email').errors && registerForm.get('email').touched">
                <div class="po-re">
                  <label class="po-ab ct-red fs-14">
                    <ng-container *ngIf="registerForm.get('email').errors?.required">
                      El email es requerido.
                    </ng-container>
                    <ng-container *ngIf="registerForm.get('email').errors?.email">
                      Debe ingresar un email valido.
                    </ng-container>
                  </label>
                </div>
              </ng-container>
            </div>
            <div class="col-md-12 pt-0-5r pb-1-5r">
              <mat-form-field appearance="outline" [ngClass]="'cust-mat-form-field'">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Contraseña" formControlName="password" type="password">
              </mat-form-field>
              <ng-container *ngIf="registerForm.get('password').errors && registerForm.get('password').touched">
                <div class="po-re">
                  <label class="po-ab ct-red fs-14">
                    <ng-container *ngIf="registerForm.get('password').errors?.required">
                      La contraseña es requerida.
                    </ng-container>
                  </label>
                </div>
              </ng-container>
            </div>
            <div class="col-md-12 pt-0-5r pb-1-5r">
              <mat-form-field appearance="outline" [ngClass]="'cust-mat-form-field'">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="name">
              </mat-form-field>
              <ng-container *ngIf="registerForm.get('name').errors && registerForm.get('name').touched">
                <div class="po-re">
                  <label class="po-ab ct-red fs-14">
                    <ng-container *ngIf="registerForm.get('name').errors?.required">
                      El nombre es requerido
                    </ng-container>
                    <ng-container *ngIf="registerForm.get('name').errors?.pattern">
                      Debes ingresar solo letras.
                    </ng-container>
                  </label>
                </div>
              </ng-container>
            </div>
            <div class="col-md-12 pt-0-5r pb-1-5r">
              <mat-form-field appearance="outline" [ngClass]="'cust-mat-form-field'">
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Apellido" formControlName="lastName">
              </mat-form-field>
              <ng-container *ngIf="registerForm.get('lastName').errors && registerForm.get('lastName').touched">
                <div class="po-re">
                  <label class="po-ab ct-red fs-14">
                    <ng-container *ngIf="registerForm.get('lastName').errors?.required">
                      El apellido es requerido
                    </ng-container>
                    <ng-container *ngIf="registerForm.get('lastName').errors?.pattern">
                      Debes ingresar solo letras.
                    </ng-container>
                  </label>
                </div>
              </ng-container>
            </div>
            <div class="col-md-12 pt-0-5r pb-1-5r">
              <mat-form-field appearance="outline" [ngClass]="'cust-mat-form-field'">
                <mat-label>Rut</mat-label>
                <input matInput placeholder="Rut" formControlName="rut">
              </mat-form-field>
              <ng-container *ngIf="registerForm.get('rut').errors && registerForm.get('rut').touched">
                <div class="po-re">
                  <label class="po-ab ct-red fs-14">
                    <ng-container *ngIf="registerForm.get('rut').errors?.required">
                      El Rut es requerido.
                    </ng-container>
                  </label>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="box-submit">
            <button
              [disabled]="registerForm.invalid"
              [ngClass]="'cust-button-submit'"
              color="primary"
              mat-flat-button
              type="submit"
            >
              <ng-container [ngSwitch]="sendingData">
                <ng-container *ngSwitchCase="false">
                  Registrarse
                </ng-container>
                <ng-container *ngSwitchCase="true">
                  <mat-spinner [ngClass]="'cust-loading-spinner'" diameter="25"></mat-spinner>
                </ng-container>
              </ng-container>
            </button>
          </div>
        </form>
      </mat-card-content>
      <mat-divider></mat-divider>
      <div class="box-action">
        <div>
          <small class="mr-1r">¿Ya eres usuario?</small>
          <a
            [routerLink]="'/login'"
            mat-button
          >
            Inicia Sesión
          </a>
        </div>
      </div>
    </mat-card>
  </div>
</div>
